<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.PTUDConnectionString"
            connectionString="Data Source=DESKTOP-2UM47P3;Initial Catalog=PTUD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication1.Properties.Settings.PTUDConnectionString1"
            connectionString="Data Source=DESKTOP-RNDF124\SQLEXPRESS;Initial Catalog=PTUD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication1.Properties.Settings.DataSourceConnectionString"
            connectionString="Data Source=DESKTOP-RNDF124\SQLEXPRESS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication1.Properties.Settings.masterConnectionString"
            connectionString="Data Source=DESKTOP-RNDF124\SQLEXPRESS;Initial Catalog=master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication1.Properties.Settings.PTUDConnectionString2"
            connectionString="Data Source=DESKTOP-IFTJJR6\SQLEXPRESS;Initial Catalog=PTUD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>